__pycache__/metrics.cpython-36.pyc
.vscode/settings.json
.vscode/launch.json
__pycache__/Isensee2017_model.cpython-36.pyc
__pycache__/dataset.cpython-36.pyc
__pycache__/model.cpython-36.pyc
__pycache__/unet.cpython-36.pyc
utils/__pycache__/__init__.cpython-36.pyc
utils/__pycache__/patches.cpython-36.pyc
utils/__pycache__/sitk_utils.cpython-36.pyc
utils/__pycache__/utils.cpython-36.pyc
utils/nilearn_custom_utils/__pycache__/__init__.cpython-36.pyc
utils/nilearn_custom_utils/__pycache__/nilearn_utils.cpython-36.pyc
.ipynb_checkpoints/
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.log
paper/paper.synctex.gz
paper/paper.out
*__pycache__*